fastapi
uvicorn
openai
pyautogui
mss
SpeechRecognition
pyaudio
python-dotenv
websockets
google-genai
chromadb
sentence-transformers
colorama
cryptography
google-api-python-client
googlesearch-python
mcp
playwright
requests
rich
sympy
textual
